.card-container.course-item-card {
    margin: 0;
}

.btn-admin-dashboard {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    height: 205px;
    width: 205px;
    justify-content: center;
    padding: 30px;
}

.add-subject-btn {
    width: fit-content;
}

.add-course-btn-col {
    max-width: fit-content;
}
