.card-container.course-item-card {
    margin: 0;
}

.btn-admin-dashboard {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    height: 205px;
    width: 205px;
    justify-content: center;
    padding: 30px;
}

.hr-title-hr {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

.hr-regular-hr {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.col-course-value {
    padding-right: 50px;
    text-align: end;
}

.add-subject-btn {
    width: fit-content;
}

.add-course-btn-col {
    max-width: fit-content;
}
