.home-page-welcome-text {
  text-align: center;
  margin-top: 100px;
}

.home-page-welcome-text h1 {
  font-size: 4rem;
  font-weight: bold;
}

.home-page-welcome-text h3 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}
p {
  font-size: x-large;
}
