@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
}

:root {
  --mainColor: #29335c;
  --mainColorLight: #5767aa;
  --secondaryColor: #db2b39;
  --textColor: #eee;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 2rem;
  background-color: var(--mainColor);
  color: var(--textColor);
}

nav a {
  margin: 0 1rem;
  color: var(--textColor);
  text-decoration: none;
  font-size: 25px;
}

nav a:hover {
  color: var(--secondaryColor);
}

header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--textColor);
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}

header div,
nav {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 1024px) {
  header .nav-btn {
    visibility: visible;
    opacity: 1;
  }

  header nav {
    position: fixed;
    top: -100vh;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--mainColor);
    transition: 1s;
  }

  header .responsive_nav {
    transform: translateY(100vh);
  }

  nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  nav a {
    font-size: 1.5rem;
  }
}

.sign-up-button {
  margin: 25px;
  text-align: center;
}

.home-page-welcome-text {
  text-align: center;
  margin-top: 5%;
}

p .home-page-welcome-text {
  font-weight: bold;
}

.footer {
  margin-top: auto;
  background-color: #29335c;
  color: white;
  text-align: center;
  padding: 20px;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.about-text {
  text-align: center;
}

.generate-button {
  font-size: 16px;
  border-radius: 8px;
  background-color: #29335c; /* Green */
  color: white;
  transition-duration: 0.4s;
  margin-top: 25px;
  padding: 10px;
}

.generate-button:hover {
  background-color: white;
  border: 2px solid #29335c;
  color: black;
  cursor: pointer;
}

.date-picker {
  margin-top: 50px;
}

.nav-btn-auth {
  margin: 0 1rem;
  color: var(--textColor);
  text-decoration: none;
  font-size: 1rem;
  background-color: var(--mainColor);
  border-width: 0;
  font-size: 25px;
}

.nav-btn-auth:hover {
  cursor: pointer;
  color: var(--secondaryColor);
}

.nav-btn-auth-register {
  margin: 0 1rem;
  color: var(--textColor);
  text-decoration: none;
  font-size: 1rem;
  background-color: var(--secondaryColor);
  border-width: 0;
  border-radius: 8px;
  font-size: 25px;
  padding: 5px;
}

.nav-btn-auth-register:hover {
  cursor: pointer;
  color: var(--secondaryColor);
  color: black;
}
